BODY {
    background: rgb(218, 218, 218);
    color: #000000;
    text-align: center;
    font-family: sans-serif;
  }
  
  H1 {
    text-align: center;
    font-size: 32pt;
    font-weight: normal;
  }
  #container{
    position: relative;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    overflow: hidden;
    z-index: 3;
  }
  #confetti {
    position: absolute;
    width: 1%;
    height: 1%;
    margin-top: 25vh;
    margin-left: 50vw;
    margin-right: auto;
    z-index: 4;
  }

  #grid {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    z-index: 2;
    transition: all 0.3s ease-in;
  }
  #newBoardButton {
    background-color: #4caf50;
    border: 2px solid #4caf50;
    color: white;
    text-align: center;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 10px;
    position: sticky;
    font-size: 24px;
    transition: all 0.1s ease-out;
  }
  #newBoardButton:hover {
    border: 2px solid #4caf50;
    background-color: white;
    color: #4caf50;
  }
  
  #grid TR TD{
    border:1px solid white;
    background: #999999;
    width: 48px;
    height: 48px;
    transform: rotateY(180deg);
    text-align: center;
    transition: all 75ms;
    z-index: 1;
  }
  #grid TR TD:hover {
    background: #bdbcbc;
  }

  #grid TR TD.half {
    transform: rotateY(90deg);
  }
  
  #grid TR TD.clicked {
      background: #ffffff;
      transform: rotateY(0deg);
  }
  
  #grid TR TD.mine {
      background: #FF0000;
      transform: rotateY(0deg);
  }
  
  #grid TR TD.flag {
    background: #d39000;
    transform: rotateY(0deg);
  }
  
  BUTTON {
    margin: 12px;
  }