BODY {
    background: rgb(218, 218, 218);
    color: #000000;
    text-align: center;
    font-family: sans-serif;
  }
  
  H1 {
    text-align: center;
    font-size: 32pt;
    font-weight: normal;
  }
  #container{
    position: static;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    z-index: 3;
  }

  #grid {
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: auto;
    position: relative;
    z-index: 2;
  }
  #newBoardButton {
    background-color: #4caf50;
    border: none;
    color: white;
    text-align: center;
    text-decoration: none;
    margin-left: auto;
    margin-right: auto;
    margin-top: auto;
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 10px;
    position: sticky;
    font-size: 24px;
    transition: all 0.1s ease-out;
  }
  #newBoardButton:hover {
    border: 2px solid #4caf50;
    background-color: white;
    color: #4caf50;
  }
  
  #grid TR TD{
    border:1px solid white;
    background: #999999;
    width: 64px;
    height: 64px;
    transform: rotateY(180deg);
    text-align: center;
    transition: all 75ms;
    z-index: 1;
  }
  #grid TR TD:hover {
    background: #bdbcbc;
  }

  #grid TR TD.half {
    transform: rotateY(90deg);
  }
  
  #grid TR TD.clicked {
      background: #ffffff;
      transform: rotateY(0deg);
  }
  
  #grid TR TD.mine {
      background: #FF0000;
      transform: rotateY(0deg);
  }
  
  #grid TR TD.flag {
    background: #d39000;
    transform: rotateY(0deg);
  }
  
  BUTTON {
    margin: 12px;
  }